*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#my-pho{
    margin: 0 auto;
}

#my-phoDOS{
    margin: 0 auto;
    width: 60px;
}


.navbar{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.bg-light{
    background-color:white;
}

.navbar-brand{
    display: inline-block;
/*     padding-top: 4px;
    padding-bottom: 4px; */
    margin-right: auto;
    font-size: 14px;;
    line-height: inherit;
    white-space: normal;
    font-weight: bold;

}

.form-inline{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    top: 0;
    right: 0;
    position: absolute;
    padding-top: 4px;
}

.form-inline .form-control{
    display: inline-block;
    width: auto;
    display: block;
    border:none;
    border-bottom: 1px solid black;
}

.mr-sm-2{
    margin-right: 10px;
}

.btn{
    margin-right: 10px;
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer div{
    border-bottom: 1px solid black;
    height: 30px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: space-between; */
}

main{
    height: auto;
}

main h1{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
}

footer p{
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.faq{
    margin: 20px;
}

.faq h2{
    padding: 5px;
    cursor: pointer;
    border-bottom: 1px solid black;
    font-size: 14px;
}

.faq h2:before{
    content:"+";
    width: 30px;
    height: 30px;
    text-align: center;
    display: inline-block;
    color: black;
    margin-right: 15px;

}

.faq .titulo:before{
    content:"-";
    
}

.faq p{
    padding: 10px;
    display: none;
}

#all h3,#add h3{
    padding-left: 5px;
    font-weight: lighter;
}

.container-cube{
    display: flex;
    justify-content: center;
}

#cube{
    position: relative;
    border: 1px solid black;
    height: 250px;
    width: 48%;
    margin: 0px 3%;
}

#cube-add{
    position: relative;
    border: 1px solid black;
    height: 250px;
    width: 48%;
    margin: 0% 3%;
}

#add-reminde{
    position: absolute;
    top: 0;
    right: 0;
}

#remindeTEXT{
    size: 60px;
}

#add-reminde button{
    margin-right: 10px;
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#add-reminde input{
    width: auto;
    margin-right: 5px;
    border:none;
    border-bottom: 1px solid black;
}

#select-section{
    position: absolute;
    top: 0;
    right: 220px;
    margin-top: 4px;
    border: none;
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#texto-area{
    resize: none;
    margin-left: 30px;
    margin-top: 20px;
    width: 65%;
}

.options{
    width: 30%;
    margin-top: 40px;
    padding-left: 7%;
}

.options p{
    margin: 4px;
}

#seccion-info{
    display: flex;
}
#yellow{
    background-color: rgba(255, 232, 31, 0.4);
}

#militar-green{
    background-color: rgba(134, 137, 93, 0.4)
}

#beige{
    background-color: rgba(225, 198, 153, 0.4)
}

#black{
    background-color: rgba(0, 0, 0, 0.4)
}



.all-tasks{
    /* display: inline-block; */
    height: 200px;
    overflow-y: scroll;

}

.all-tasks #task{
    display: flex;
    position: relative;
    width: auto;
    height: 60px;
    margin: 0 auto;
    margin-top: 10px;
}

.all-tasks #importance{
    position: absolute;
    top: 0;
    right: 0;
    height:100%;
}

#importance{
    background-color: rgba(255, 232, 31, 0.4);
    height: 15px;
    width: 15px;
}

.all-tasks #btn-remove{
    position: absolute;
    top: 30%;
    right: 0;
    margin-right: 20px;
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: 12px;
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.all-tasks h3{
    position: absolute;
    margin-left: 5px;
    top: 0;
    left: 0;
    font-size: 12px;
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.all-tasks p{
    position: absolute;
    top: 20px;
    left: 0;
    height: auto;
    width: auto;
    margin-right: 60px;
    margin-left: 5px;
    font-size: 10px;
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


